<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">作成日</th>
          <th scope="col">タイトル</th>
          <th scope="col">予定時間</th>
          <th scope="col">決定日時</th>
          <th scope="col">回答者数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2022/04/12 20:19</td>
          <td>飲み会</td>
          <td>4時間</td>
          <td>04/23 17:00~21:00</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>