<div class="container">
  <div class="box">
    <div class="row">
      <span class="box-title">参加者の方</span>
      <div class="mx-4">
        <p>①イベントページにある<br>「参加可否を回答」ボタンから<br>皆さんの参加可否を回答しましょう。</p>
        <p>②回答した後に回答内容を<br>確認・変更したい場合は、<br>自分の名前のリンクをクリックし、<br>パスワードを入力することで内容の<br>確認・変更が可能です。</p>
      </div>
      <img class="img d-block mx-auto" src="/assets/main.2.png" alt="">
    </div>
  </div>
</div>
