<div class="container">
  <div class="row">
    <p class="col-lg-5 mx-auto mt-5 text-center">
      「YOTEI」は、なかなか予定が決まらない、<br>
      日程だけでも決めちゃいたいという方へ。<br>

      日程、すぐに決められます。
    </p>
  </div>
  <div class="row">
    <button type="button" class="col-lg-5 mx-auto mt-5 btn btn-light">
      <%= link_to "日程を決める", new_host_event_path, class: 'nav-link text-dark' %>
    </button>
  </div>
</div>