<div class="container">
  <%# deivseのフラッシュメッセージを表示 %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="row">
    <p class="col-lg-5 mx-auto mt-5 text-center">
      「YOTEI」は、なかなか予定が決まらない、<br>
      日程だけでも決めちゃいたいという方へ。<br>

      日程、すぐに決められます。
    </p>
  </div>
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <%= link_to "日程を決める", new_host_event_path, class: 'btn btn-outline-info btn btn-block' %>
    </button>
  </div>
</div>