<h4>参加可否の入力</h4>

<% @event.event_schedules.each do |event_schedule| %>
  <div>
    <%= event_schedule.candidate_date_start.strftime('%Y/%m/%d %H:%M') %>
    ～
    <%= event_schedule.candidate_date_end.strftime('%H:%M') %>
  </div>
<% end %>