@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.event_guest_list_field {
  width: 100%;
}

.event_guest_list {
  height: 100px;
  overflow-y: scroll;
  margin: 10px;
}

.guest_list {
  margin-left: 10px;
}

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  width: 100%;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.box2{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #95ccff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}