@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.event_guest_list_field {
  width: 100%;
}

.event_guest_list {
  height: 100px;
  overflow-y: scroll;
  margin: 10px;
}

.event_guest_list2 {
  height: 400px;
  overflow-y: scroll;
  margin: 10px;
}

.guest_list {
  margin-left: 10px;
}

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  width: 100%;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.box2{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #95ccff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box3 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  width: 100%;
  border: solid 3px #FFCC66;
  border-radius: 8px;
}

.box4 {
    position: relative;
    margin: 1em 0;
    padding: 25px 10px 7px;
    width: 100%;
    border: solid 2px #FFC107;
}

.box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}

.box-title2 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #FFCC66;
  font-weight: bold;
}

.box-title3 {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}

input:checked + label {
  color: green;
}

.size{
  font-size:2em;
}

.size2{
  font-size:1.5em;
}

th {
  font-weight: normal;
}

.red {
  color: red;
}