<div class="nested-fields">
  <div class="box2">
    <div class="row mx-auto">
      <div class="form-group col-sm-3 col-lg-10">
        <%= f.date_field :candidate_date, min: Date.today, class: "form-control" %>
      </div>
      <div class="form-group col-sm-3 col-lg-12 mt-1">
        <%= f.time_select :candidate_time_start, minute_step: 10, class: "form-control" %>
        ～
        <%= f.time_select :candidate_time_end, minute_step: 10, class: "form-control" %>
        <%= link_to_remove_association "削除", f, class: "btn btn-outline-secondary btn-block mt-3" %>
      </div>
    </div>
  </div>
</div>