<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-5"><%= f.datetime_field :candidate_date_start, class: "form-control", placeholder: "開始日時" %></div>
    <%= "～" %>
    <div class="offset-1"><%= f.time_field :candidate_date_end, class: "form-control", placeholder: "終了時間" %></div>
    <div class="offset-1">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>