<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-lg-3">
      <%= f.date_field :candidate_date, min: Date.today, class: "form-control" %>
    </div>
    <div class="col-lg-3">
      <%= f.time_select :candidate_time_start, minute_step: 10, class: "form-control" %>
    </div>
    ～
    <div class="col-lg-3">
      <%= f.time_select :candidate_time_end, minute_step: 10, class: "form-control" %>
    </div>
    <div class=" col-lg-3">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>